<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <welcome-file-list>
    <welcome-file>
  		Connexion
  	</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/admin/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexFront</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexFront</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Clients</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Clients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clients</servlet-name>
    <url-pattern>/admin/Clients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterClient</servlet-name>
    <servlet-class>com.tn.isamm.servlets.AjouterClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterClient</servlet-name>
    <url-pattern>/admin/AjouterClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierClient</servlet-name>
    <servlet-class>com.tn.isamm.servlets.ModifierClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierClient</servlet-name>
    <url-pattern>/admin/ModifierClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerClient</servlet-name>
    <servlet-class>com.tn.isamm.servlets.SupprimerClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerClient</servlet-name>
    <url-pattern>/admin/SupprimerClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Voyages</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Voyages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Voyages</servlet-name>
    <url-pattern>/admin/Voyages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterVoyage</servlet-name>
    <servlet-class>com.tn.isamm.servlets.AjouterVoyage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterVoyage</servlet-name>
    <url-pattern>/admin/AjouterVoyage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifierVoyage</servlet-name>
    <servlet-class>com.tn.isamm.servlets.ModifierVoyage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierVoyage</servlet-name>
    <url-pattern>/admin/ModifierVoyage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterNewsletter</servlet-name>
    <servlet-class>com.tn.isamm.servlets.AjouterNewsletter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterNewsletter</servlet-name>
    <url-pattern>/front/AjouterNewsletter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Newsletters</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Newsletters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newsletters</servlet-name>
    <url-pattern>/admin/Newsletters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerNewsletter</servlet-name>
    <servlet-class>com.tn.isamm.servlets.SupprimerNewsletter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerNewsletter</servlet-name>
    <url-pattern>/admin/SupprimerNewsletter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnvoiContact</servlet-name>
    <servlet-class>com.tn.isamm.servlets.EnvoiContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvoiContact</servlet-name>
    <url-pattern>/admin/EnvoiContact</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Stat</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Stat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stat</servlet-name>
    <url-pattern>/admin/Stat</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Contacts</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Contacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacts</servlet-name>
    <url-pattern>/admin/Contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionContacts</servlet-name>
    <servlet-class>com.tn.isamm.servlets.GestionContacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionContacts</servlet-name>
    <url-pattern>/admin/GestionContacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnvoiContactC</servlet-name>
    <servlet-class>com.tn.isamm.servlets.EnvoiContactClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvoiContactC</servlet-name>
    <url-pattern>/front/EnvoiContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterAuPanier</servlet-name>
    <servlet-class>com.tn.isamm.servlets.AjouterAuPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterAuPanier</servlet-name>
    <url-pattern>/front/AjouterAuPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VoyagesClient</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Voyages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoyagesClient</servlet-name>
    <url-pattern>/front/Voyages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panier</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Panierr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/front/Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValiderPanier</servlet-name>
    <servlet-class>com.tn.isamm.servlets.ValiderPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiderPanier</servlet-name>
    <url-pattern>/front/ValiderPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerDuPanier</servlet-name>
    <servlet-class>com.tn.isamm.servlets.SupprimerDuPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerDuPanier</servlet-name>
    <url-pattern>/front/SupprimerDuPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>repondre</servlet-name>
    <servlet-class>com.tn.isamm.servlets.RepondreContactAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>repondre</servlet-name>
    <url-pattern>/admin/RepondreContactAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactClient</servlet-name>
    <servlet-class>com.tn.isamm.servlets.Contacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactClient</servlet-name>
    <url-pattern>/front/Contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifInfoPerso</servlet-name>
    <servlet-class>com.tn.isamm.servlets.ModifInfoPerso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifInfoPerso</servlet-name>
    <url-pattern>/front/ModifInfoPerso</url-pattern>
  </servlet-mapping>
   <filter>
    <filter-name>FiltreAdmin</filter-name>
    <filter-class>com.tn.isamm.filtres.FiltreAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreAdmin</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltreClient</filter-name>
    <filter-class>com.tn.isamm.filtres.FiltreFront</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreClient</filter-name>
    <url-pattern>/front/*</url-pattern>
  </filter-mapping>
</web-app>